<h1><strong>Stupid Coaching</strong></h1>

<div class="you">
  <h3>- You: </h3>
  <p><%= @question %></p>
</div>

<div class="coach">
  <h3>- Your coach: </h3>
  <p><%= @answer %></p>
</div>
<div class="newq">
<%= link_to "Ask a new question.", ask_path %>
</div>
