<h1><strong>Stupid Coaching</strong></h1>
<h4>Ask your coach anything</h4>

<form action="/answer" class="questions">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="button">
</form>
